.btn--white{
    border-radius: 30px;
    border: 1px solid rgba(25, 26, 21, 0.20);
    color: #191A15;
    background-color: transparent;

    &:hover{
        background-color: $brand-hover;
        cursor: pointer;
    }
}

.btn--green{
    border-radius: 30px;
    border: none;
    color: $light;
    background-color: $brand;

    &:hover{
        background-color: $brand-hover;
        cursor: pointer;

    }
}

.btn__login{
padding: 14px 39px;
font-size: 16px;
font-weight: 500;
line-height: calc(20/16);
letter-spacing: -0.16px;
}

.btn__reg{
    padding: 14px 40px;
font-size: 16px;
font-weight: 500;
line-height: calc(20/16);
letter-spacing: -0.16px;
}

.btn__logOut{
    margin-left: 4px;
    padding: 14px 39px;
}

.btn__termin{
    padding: 14px 32px;
    margin-top: 40px;
    width: 227px;
}