.nav__list{
    display: flex;   
    gap: 40px;
    
}

.nav__item{
    position: relative;
}

.nav__link{
    text-decoration: none;
    color: $dark;
    
    font-family: Inter;
    font-size: 16px;
    line-height: calc(20/16); 
    letter-spacing: -0.16px;

    &:hover,
    &:focus{
    color: $brand;
    }
}

.nav__favorites{
    display: none;
    text-decoration: none;
    color: $dark;
    
    font-family: Inter;
    font-size: 16px;
    line-height: calc(20/16); 
    letter-spacing: -0.16px;

    &:hover,
    &:focus{
    color: $brand;
    }
}

.nav__link--current{
    &::after {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: $brand;
        position: absolute;
        bottom: -16px;
        left: 48%;
    }
}