.select__box{
display: flex;
flex-direction: column;
gap: 8px;
}

.doctors__label{
    color: #8A8A89;

font-size: 14px;
font-weight: 500;
line-height: calc(18/14);
}

.doctors__select{
    color: white;
height: 48px;
width: 226px;
padding: 16px 18px;
border-radius: 14px;
background: $brand;
border: none;

}

.container__psych{
    padding-top: 64px;
    padding-bottom: 100px;
}