.user__div{
    display: none;
    align-items: center;
    gap: 10px;
}

.user__icon-box{
padding: 8px 10px;
border-radius: 10px;
background: $brand;
}

.user__icon{
    width: 19px;
    height: 20px;
    fill: $light;
}

.user__name{
    color: #191A15;

font-size: 16px;
font-weight: 500;
line-height: calc(20/16);
letter-spacing: -0.16px;
}