.hero__container{
    display: flex;
    margin-top: 78px;
    align-items: center;
}

.hero__title{
    color: $dark;

font-size: 80px;
font-weight: 600;
line-height: calc(82/80);
letter-spacing: -1.6px;
}

.hero__text{
    color: $dark;
    margin-top: 20px;
    width: 510px;

font-size: 18px;
font-weight: 500;
line-height: calc(24/18);
letter-spacing: -0.36px;
}

.hero__btn{
    display: flex;
    gap: 18px;
    align-items: center;
    margin-top: 58px;
    padding: 18px 50px;
    color: #FBFBFB;

font-size: 20px;
font-weight: 500;
line-height: calc(24/20);
letter-spacing: -0.2px;
}

.hero__img{
    border-radius: 20px;
}

.hero__2{
    position: relative;
}